@model MyInstagram.Domain.Entities.Article
@{
    ViewBag.Title = "Edit";
}

<div class="panel">
    <div class="panel-heading">        
        <h3>Edit</h3>   
    </div>
</div>
    @using (Html.BeginForm("Create", "Home", 
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m=> m.ArticleID)
            @Html.TextBoxFor(m=> m.Description)
            <input type="file" name="Image" /><br>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }


