@model MyInstagram.Data.Entities.Article

@{
    ViewBag.Title = "Index";
}




@Ajax.ActionLink("Get photos", // <-- Text to display
                 "Photos", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "ArticlesList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
<div id="ArticlesList">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">                   
       asdasdasdasdas
        </div>
    </div>
</div>

