
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


@Ajax.ActionLink("Follow", "Get", new AjaxOptions
{
    UpdateTargetId = "ArticlesList",
    HttpMethod = "GET",
    Url = "/api/art",
    OnSuccess = "suc"
})

@using (Ajax.BeginForm(new AjaxOptions
{
    UpdateTargetId = "ArticlesList",
    HttpMethod = "POST",
    Url = "/api/art/FollowUnfollow",
    OnSuccess = "suc",
    OnFailure = "fail"
}))
{
    <input type="text" name="userId" hidden="hidden" value="sasasdasda"/>
    <input type="text" name="toUserId" hidden="hidden" value="12312313" />
    <input id="subbtn" type="submit" value="Поиск" class="btn btn-primary" />
}
<div id="ArticlesList">

</div>
<script>

</script>